@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800|Lora:300,400,500,600,700,800&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background: #f1f3f5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.navbar {
  height: 56px !important;
  min-height: 56px !important;
  line-height: 1.5 !important;
  background: #f1f3f5;
}

.navbar .logo {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
}

.sidebar {
  top: 56px;
  background: #f1f3f5;
}

.links, .search-box input {
  background-color: #f1f3f5 !important;
}

code {
  background-color: #282c2e !important;
  color: #fff !important;
}
