// colors
$accentColor = #cf508d
$textColor = #313437
$borderColor = #e4e7ea
$codeBgColor = #282c34
$arrowBgColor = #cf508d
$badgeTipColor = #30a46c
$badgeWarningColor = #dba70c
$badgeErrorColor = #eb604b

// layout
$navbarHeight = 5.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

