// colors
$accentColor = #663ccb
$textColor = #141518
$borderColor = #eff0f2
$codeBgColor = #272a31
$arrowBgColor = #cf508d
$badgeTipColor = #30a46c
$badgeWarningColor = #dba70c
$badgeErrorColor = #eb604b

// layout
$navbarHeight = 5.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

